# Désactiver l'indexation automatique
Options -Indexes

# Activer mod_rewrite
RewriteEngine On

# Si l'erreur est 403 (souvent causée par Options -Indexes)
# Rediriger vers index.php (redirection visible)
RewriteCond %{ENV:REDIRECT_STATUS} =403
RewriteRule ^.*$ /index.php [R=302,L]

# Gérer erreur 4°4 
ErrorDocument 404 /404.html