# Désactiver l'indexation des dossiers
Options -Indexes

# Activer le moteur de réécriture
RewriteEngine On 

# Intercepter les erreurs 403 (ex : dossier sans index) et rediriger vers index.php
ErrorDocument 403 /index.php