<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poleinfo">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Déclaration des queries pour Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.INSERT" />
            <data android:mimeType="vnd.android.cursor.dir/event" />
        </intent>
    </queries>

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="PoleInfo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>